<h1> This program will allow you to see how many times a word is repeated in your list. </h1>
<h2> You can either use a list of words or a sentence </h2>

<form action = 'results'>
  <div class = 'form-group'>
    <label id ='test_word'> This is the word you want to check </label>
    <input id='test_word' name='test_word' class='form-control' type='text'>
  </div>
  <div class = 'form-group'>
    <label id ='word_list'> This is the word you want to check </label>
    <input id='word_list' name='word_list' class='form-control' type='text'>
  </div>
</form>
